#fondo{
    -fx-background-image: url("fondoPreguntas.png");
}

.fondoBoton{
    -fx-padding: 10 30 10 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: white;
}
.radio-button:selected {
     -fx-border-color: gray;
     -fx-text-fill: gray;
}

.radio-button > .radio {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0px;
  -fx-padding: 0.0em; /* 4 8 4 8 */
}
.radio-button:selected > .radio > .dot {
  -fx-background-color: transparent;
}

#opcion1{
    -fx-font-size: 16pt;
    -fx-text-fill: white;

}
#opcion2{
    -fx-font-size: 16pt;
    -fx-text-fill: white;

}
#opcion3{
    -fx-font-size: 16pt;
    -fx-text-fill: white;

}
#opcion4 {
    -fx-font-size: 16pt;
    -fx-text-fill: white;

}
#puntos{
    -fx-font-size: 22pt;

}
#pregunta{
    -fx-font-size: 16pt;
    -fx-text-fill: white;


}
