#fondo{
    -fx-background-image: url("marco.png");
}
*{
    -fx-text-fill: white;

}

#opcion1{
    -fx-font-size: 17pt;
}
#opcion2{
    -fx-font-size: 17pt;
}
#opcion2{
    -fx-font-size: 17pt;
}
#opcion4{
    -fx-font-size: 17pt;
}
#puntos{
    -fx-font-size: 17pt;
}
#pregunta{
    -fx-font-size: 16pt;
}