#fondo{
    -fx-background-image: url("buena.jpg");
}
#bBegin{
    -fx-font-size: 22pt;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-width: 5;

}
#bContinue{
    -fx-font-size: 22pt;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-width: 5;
}
